@font-face {
  font-family: "Oswald";
  src: url("./Fonts/Oswald-VariableFont_wght.ttf");
}


.App {
  text-align: center;
}

.bghome {
  background-image: url(../src/Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.logosize {
  margin-top: 20%;
  width: 25%;
}
.wordsize{
  margin-top: 3%;
  width: 50%;
}

.prox{
  margin-top: 50px;
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  font-family: "Oswald";
}

@media (max-width: 450px) {
  .logosize {
    margin-top: 20%;
    width: 55%;
  }
  .wordsize{
    margin-top: 5%;
    width: 80%;
  }
}